.fantasyfamily{
    font-family:fantasy;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 55px;
}
.pfamily{
    font-family: cursive;
    font-style: bold;
    font-size: 25.5px;
}
.h1colors{
    color:#4453a1;
}
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.section-header p {
  margin: 0 auto;
  color: var(--color-secondary);
}

@media (min-width: 1280px) {
  .section-header p {
    max-width: 80%;
  }
}

